OPENROUTER_API_KEY=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
OPENROUTER_MODEL=openai/gpt-5

TARGET_EMAIL=Team10@EffectiveAI.net
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=Team10@EffectiveAI.net
SMTP_PASSWORD=Team10!
SMTP_FROM=Team10@EffectiveAI.net

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB=paramedic_ai
MONGODB_SHORT_TERM_COLLECTION=short_term
